<ul>
    <div class="student-box">
        <% @students.each do |student| %>
            <li><%= student.first_name %> <%= student.last_name %></li>
            <li> Age: <%= student.age %></li>
            Id: <a href="/students/<%= student.id %>"><%= student.id %></a>
            <br>
            <br>
        <% end %>
    </div>
</ul>
